body {
    background-color: #2b3133;
    color: #6ca0cb;
}

p {
    color: #c6d4cc;
}

a {
    color: #6ca0cb;
    text-decoration: none;
}

a:hover, span {
    color: #e8c23a;
}

a:hover b {
    color: #a1d036;
}