

body {
  font-family: Arial, Verdana,  sans-serif; /* Семейство шрифтов */
  font-size: 14pt; /* Размер основного шрифта в пунктах  */
  background-color: #f0f0f0; /* Цвет фона веб-страницы */
  color: #333; /* Цвет основного текста */ 
  }
h3 {
  color: #a52a2a; /* Цвет заголовка */
  font-size: 24pt; /* Размер шрифта в пунктах */
  font-family: Georgia, Times, serif; /* Семейство шрифтов */
  font-weight: normal; /* Нормальное начертание текста  */
}
pre {
  font-family: Arial, Verdana,  sans-serif; /* Семейство шрифтов */
  margin-left: 10px; /* Отступ слева в пикселах */
  margin-right: 10px; /* Отступ справа в пикселах */
  border-top: 5px solid #999; /* Параметры линии сверху */
  border-bottom: 5px solid #999; /* Параметры линии снизу */
  padding-bottom: 10px; /* Отступ от линии снизу до текста  */
  padding-top: 10px; /* Отступ от линии сверху до текста  */
}

 p {
  text-indent: 25px;
  text-align: justify; /* Выравнивание по ширине */
  margin-left: 10px; /* Отступ слева в пикселах */
  margin-right: 10px; /* Отступ справа в пикселах */
  border-top: 5px solid #999; /* Параметры линии сверху */
  border-bottom: 5px solid #999; /* Параметры линии снизу */
  padding-bottom: 10px; /* Отступ от линии снизу до текста  */
  padding-top: 10px; /* Отступ от линии сверху до текста  */
}
