.date {
    height: 320px;
    width: 30%;
    border-radius: 3px;
    padding: 10px;
    box-sizing: border-box;
    background-color: none;
     margin-bottom: 0px;
}

.newY {
    font-size: 24px;
    text-align: center;
    height: 320px;
    width: 20%;
    float: right;
    border-radius: 3px;
    padding: 10px;
    box-sizing: border-box;
    background-color: none;
     margin-bottom: 0px;
}

div {
    display: inline-block;
    box-sizing: border-box;
}

.link {
    text-align: center;
    height: 60px;
    width: 100%;
    border-radius: 3px;
       box-sizing: border-box;
    background-color: #f6f6f6;
    padding: 5px;
      border: 1px solid #999;
    box-shadow: inset 0 1px 1px #c1c1c1;
    margin-bottom: 0px;
}